<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60273DF81FFDDD270018ECB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60273E0C1FFDDD290018ECB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60273E171FFDDD290018ECB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
